/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */ 

 a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

/*GRID*/

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  .container {
      width: 960px;
      margin: 0 auto;
      padding: 0px;
      position: relative;
  }
  
  .container:after, .container:before {
      content: " ";
      display: table;
  }
  
  .container:after {
      clear: both;
  }
  
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .grid-1 	{width: 40px;}
  .grid-2 	{width: 100px;}
  .grid-3 	{width: 160px;}
  .grid-4 	{width: 220px;}
  .grid-5 	{width: 280px;}
  .grid-6 	{width: 340px;}
  .grid-7 	{width: 400px;}
  .grid-8 	{width: 460px;}
  .grid-9 	{width: 520px;}
  .grid-10 	{width: 580px;}
  .grid-11 	{width: 640px;}
  .grid-12 	{width: 700px;}
  .grid-13 	{width: 760px;}
  .grid-14 	{width: 820px;}
  .grid-15 	{width: 880px;}
  .grid-16 	{width: 940px;}
  .grid-1-3	{width: 300px;}
  
  @media only screen and (min-width: 788px) and (max-width: 979px) {
      .container {
          width: 768px;
      }
  
  .grid-1 	{width: 28px;}
  .grid-2 	{width: 76px;}
  .grid-3 	{width: 124px;}
  .grid-4 	{width: 172px;}
  .grid-5 	{width: 220px;}
  .grid-6 	{width: 268px;}
  .grid-7 	{width: 316px;}
  .grid-8 	{width: 364px;}
  .grid-9 	{width: 412px;}
  .grid-10 	{width: 460px;}
  .grid-11 	{width: 508px;}
  .grid-12 	{width: 556px;}
  .grid-13 	{width: 604px;}
  .grid-14 	{width: 652px;}
  .grid-15 	{width: 700px;}
  .grid-16 	{width: 748px;}
  .grid-1-3	{width: 236px;}
  }
  
  @media only screen and (max-width: 787px) {
      .container {
          width: 300px;
      }
  
      .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
          width: 300px;
          margin: 0 0 20px 0;
          float: none;
      }
  
  }

/*STYLE*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

h1,h2,h3 {
    color: white;
}

.btn {
    border: 5px solid #043763;
    padding: 10px 30px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    background-color: #043763;
}

.subtitulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 40px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #043763;
    padding: 15px 0;
    z-index: 10;
}

.menu {
    text-align: right;
}

.menu:hover {
    font-weight: bold;
}

.menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 15px;
}

.menu ul li a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.menu ul li a.on {
    color: gray;
}

.introducao {
    width: 100%;
    height: 381px;
    background: url("../img/home/fotoHeader.jpg") no-repeat center;
    background-size: cover;
    margin-top: 60px;
    text-align: center;
    padding-top: 120px;
}

.introducao h1 {
    font-size: 48px;
    line-height: 60px;
    color: white;
    font-weight: bold;
}

.introducao h1::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 80px;
}

.introducaoInterna {
    width: 100%;
    margin-top: 60px;
    height: 160px;
    background: url("../img/sobre/classica2.jpg") no-repeat center;
    background-size: cover;
}

.introducaoInterna h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: bold;
}

.introducaoInterna h1::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 80px;
}

.produ {
    padding: 60px 0;
    text-align: center;
}

.produtosLista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.produtosLista li h3::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 2px auto;
}

.produtosLista li p {
    padding: 10px;
}
.produtosLista li {
    background-color: #043763;
}

.fraseCall {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.fraseCall p {
    margin-bottom: 20px;
}

.portfolio {
    width: 100%;
    background-color: black;
    padding: 40px 0;
}

.imgEnd {
    margin-top: 20px;
}


.qualidade {
    padding: 60px 0;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 199px;
    right: 162px;
    z-index: -1;
}

.qualidade img {
    margin: 0 auto;
}

.qualidadeLista li {
    text-align: center;
    padding: 0 40px;
    margin-top: 70px;
}

.qualidadeLista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.qualidadeLista li h3::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
}

.logo2 {
    width: 199px;
    height: 62px;
}

.quebra {
    width: 100%;
    height: 220px;
    background: url("../img/home/fotoFiltroFooter.jpg") no-repeat center;
    background-size: center;
    text-align: center;
}

.quote {
    padding-top: 70px;
    color: white;
}

.quote p {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
}

.quote cite {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.quote p::after, .quote p::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 13px auto;
}

.footer {
    width: 100%;
    background-color: black;
    padding: 20px 0;
    color: white;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 6px 0 12px 0;
}

.historia {
    padding-right: 40px;
}

.contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rede ul li{
    display: inline-block;
    margin-right: 10px;
}

.rede ul li a {
    display: block;
    padding: 5px;
}

.rede ul li a:hover {
    background-color: white;
}

.footerEnd {
    width: 100%;
    background-color: #043763;
    padding: 20px 0;
}

/*Slide JavaScript */
[data-slide] {
    position: relative;
  }
  [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
  }
  [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
  }

  /*Nav estilo*/
  .js [data-slide-nav] {
      display: block;
      text-align: center;
      margin-top: 20px;
  }

  .js [data-slide-nav] button {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
  }

  .js [data-slide-nav] button.active {
      background: #043763;
  }

  .js [data-anime] {
      opacity: 0;
      transform: translate3d(0, -20px, 0)
  }

  .js .anime {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 800ms, transform 800ms;
}

/*SOBRE*/

.missao {
    padding: 60px 0px;
    color: white;
}

.missao h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.missao p {
    font-size: 18px;
    line-height: 25px;
    padding-right: 60px;
}

.missao h2:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 6px 0 12px 0;
}

.missao ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
}

.equipe {
    padding-top: 90px;
}

.qualidade2 {
    padding: 60px 0;
    overflow: auto;
}

.qualidade2::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 105px;
    right: 162px;
    z-index: -1;
}

.qualidade2 img {
    margin: 0 auto;
}

/*PRODUTOS*/

.prod {
    padding-top: 60px;
}

.prod h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -160px;
    margin-bottom: -70px;
}

.prod h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 40px;
}

.prod h2::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    margin-bottom: 10px;
    margin-top: -10px;
}

.ind3 {
    background-color: black;
    height: 280px;
}

.ind3 p {

    font-size: 18px;
    line-height: 20px;
    padding: 30px 40px;
    height: 182px;
}

.ind3 ul li {
    background-color: #043763;
    color: white;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 229px;
    height: 48px;
    padding: 10px 0;
}

.prod ul li:nth-child(even) {
    margin-left: 2px;
}

.prod ul li:nth-child(3) {
    clear: left;
}

.prod ul li:nth-child(1), .produtos ul li:nth-child(2){
    margin-bottom: 2px;
}

.orcamento {
    background-color: black;
    width: 100%;
    margin-top: 60px;
    padding: 40px;
}

.form {
    padding-right: 60px;
}

.form label{
    display: block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    border: 5px solid #043763;
    background: none;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 5px solid #043763;
    background: none;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
    background: none;
    padding: 7px 40px;
    cursor: pointer;
}

.line::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 50px;
}

.line {
    margin-top: -50px;
}

.orcamento {
    overflow: auto;
}

.dados {
    color: white;
}

.dados h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: bold;
}

.dados span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spanEmail {
    margin-bottom: 60px;
}

.dados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px 0;
}

/*PORTFÓLIO*/

.frase {
    padding: 60px 0;
    max-width: 500px;
    margin: 0 auto;
}

.frase p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px;
}

.frase cite {
    color: white;
    font-size: 18px;
    font-weight: bold;
    float: right;
    font-style: normal;
}

.line::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 50px;
}

.line {
    margin-top: -50px;
}

.port {
    overflow: auto;
}

/*CONTATO*/

.contact {
    margin-top: 60px;
    padding: 40px;
}

.contatoForm {
    padding-right: 60px;
}

.contatoForm label{
    display: block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.contatoForm input {
    display: block;
    width: 100%;
    border: 5px solid #043763;
    background: none;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contatoForm textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 5px solid #043763;
    background: none;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contatoForm button {
    background: none;
    padding: 7px 40px;
    cursor: pointer;
}

.line::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 50px;
}

.line {
    margin-top: -50px;
}

.contact {
    overflow: auto;
}

.Dados {
    color: white;
    float: right;
    margin-top: -450px;
    padding-left: 75px; 
}

.Dados h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: bold;
}

.Dados span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spanEmail {
    margin-bottom: 60px;
}

.sp {
    margin-bottom: 60px;
}

.Dados ul li {
    padding: 10px 0px;
    display: inline-block;
}

.Dados ul li:nth-child(2), .Dados ul li:nth-child(3) {
    padding-left: 20px;
}

.mapa {
    margin-bottom: 60px;
}

/*estilo para tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
	.qualidade::after {
		right: 66px;
	}

	.qualidadeLista li {
		padding: 0 10px;
	}

	.qualidade2::after {
		right: 66px;
	}

	.produtos h2 {
		top: -130px;
		margin-bottom: -70px;
	}

	.ind3 p {
		font-size: 14px;
		line-height: 20px;
		height: 122px;
		padding: 20px 30px;
	}

	.ind3 ul li {
		width: 181px;
		height: 48px;
	}
}

/*RESPONSIVO*/
/*estilo para smartphone*/
@media only screen and (max-width: 787px) {
	.header {
		position: relative;
		padding-bottom: 0;
                margin-top: -20px;
	}

	.header img {
		margin: 0 auto 20px;
	}

	.menu {
		text-align: center;
	}

	.menu ul li a {
		border: 1px solid white;
		width: 140px;
		display: block;
		float: left;
		padding: 5px 0;
	}

	.menu ul li {
		margin: 0;
	}


	.introducao {
		margin-top: 0;
		padding-top: 20px; 
	}

	.introducaoInterna {
		margin-top: 0px;
	}

	.fraseCall {
		padding-top: 10px;
	}
	
	.qualidade::after {
		display: none;
	}

	.qualidade2::after {
		display: none;
	}
	
	.missao p {
		font-size: 14px;
		line-height: 20px;
	}

	.missao ul li {
                font-size: 14px;
                line-height: 25px;
	}

	.prod h2 {
		top: -90px;
		margin-bottom: -70px;
	}

	.ind3 p {
		font-size: 14px;
		line-height: 20px;
		height: auto;
		padding: 20px 30px;
	}

	.ind3 ul li {
		width: 149px;
		height: 48px;
	}

	.form {
		padding-right: 0px;
	}

	.contact {
		margin-top: 60px;
		padding: 0px;
	}
	
	.contatoForm {
		padding-right: 0px;
	}

	.Dados {
		margin-top: 60px;
		padding-left: 0px; 
		float: none;
	}

	.mapa {
		margin-bottom: 60px;
		margin-top: 40px;
	}
}
